<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/pacman.css" />
    <title>Pacman</title>
  </head>
  <body>
    
    <div id="wrapper">
      <div id="game"></div>
      <div id="score"></div>
      <button id="start-button">Start Game</button>
      <div class="mobile-control hide">
        <div>
          <img src="/public/img/up.png" class="up" alt="" />
        </div>
        <div>
          <img src="/public/img/left.png" class="left" alt="" />
          <img src="/public/img/down.png" class="down" alt="" />
          <img src="/public/img/right.png" class="right" alt="" />
        </div>
      </div>
    </div>

   
    <script src="/public/js/pacman/setup.js"></script>
    <script src="/public/js/pacman/GameBoard.js"></script>
    <script src="/public/js/pacman/Ghost.js"></script>
    <script src="/public/js/pacman/ghostMoves.js"></script>
    <script src="/public/js/pacman/Pacman.js"></script>
    <script src="/public/js/pacman/index.js"></script>
    <script src="/public/js/timespend.js"></script>
  </body>
</html>
